h1{
    font-size:50;
    font-family: "Comic Sans MS";
    text-align: center;
}

.laundry-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));        
    gap: 20px;                              
    padding: 20px;
    width: 100%;                              
  }
  