h1{
    font-size:50;
    font-family: "Comic Sans MS";
    text-align: center;
}

p {
    font-size:25;
    font-family: "Comic Sans MS";
    text-align: center;
}


.laundry-machine{
    text-align: center;
    font-family:"Comic Sans MS";

}
  